/*.properties {
  margin-left: 10em;
  margin-right: auto;
  padding: 0.2rem;
}
.property-card {
  /*display: inline-block;*/
  
  /*box-sizing: border-box;*/
  /*width: 33%;
  padding: 0.5rem;*/

  /*float: left;*/

  /*background-color: rgba(117, 75, 77, 0.384);
  
  border: 1px solid #141313;
  height: 180px;
  color: rgb(229, 238, 229);
  
  
  
}*/

.properties {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.property-card {
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.property-card:after {
  content: "";
  display: table;
  clear: both;
}

.favourite-card{
  background-color: rgba(77, 35, 37, 0.384);
  float: left;
  border: 1px solid #141313;
  height: 80px;
  color: rgb(229, 238, 229);
  height: 90px;
  
}
.property-card_price::before {
  content: "\00a3";
  padding: 1px;
}
.property-card_email {
  color: white;
  font-size: medium;
  background-color: rgba(88, 3, 7, 0.493);
  
}
.property-card_title, .favourite-card_title {
  font-weight: bold;
}
.save-button {
  width: 85px;
  align-self: left;
  
  margin-right: 10em;
  margin-top: -0.4em;
  
  
  font-weight: bolder;
  text-align: center;
  background-color: rgb(20, 19, 19);  
  border-radius: 5px;
  color: white;
  padding: .5em;
  text-decoration: none;
}
.delete-button {
  width: 85px;
  align-self: left;
  
  margin-right: 10em;
  margin-top: 1em;
  
  font-weight: bolder;
  text-align: center;
  background-color: rgb(56, 4, 4);  
  border-radius: 5px;
  color: white;
  padding: .5em;
  text-decoration: none;
}
.save-button, .delete-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.save-button:focus,
.save-button:hover {
  background-color: rgb(136, 2, 2);
  color: White;
}
.delete-button:focus,
.delete-button:hover {
  background-color: rgb(136, 2, 2);
  color: White;
}

@media screen and (max-width: 600px) {
  .property-card {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}