.navbar {
  background-color: white;
  border-bottom-color: grey; 
}
img {
  width: 20%;
  height: 10%;
  align-self: center;
}
.navbar-links {
  display: flex;
  list-style: none;
  border: 1px solid rgba(212, 20, 20, 0.144);
  margin: 0px;
  padding: 0%;
}
.navbar-links-item {
  flex: 3;
  display: inline-block;
  margin: 0;
  padding: 5%;
}