.property-card {
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  height: 150px;
  padding: 10px;
  margin: auto;
  font-family: "Open Sans"; 
  border: 3px solid #141313;
  width: 50%;
  
}
.property-card_price::before {
  content: "\00a3";
  padding: 1px;
}
.property-card_email {
  color: aliceblue;
  background-color: rgb(151, 3, 3);
  width: 100%;
  font-size: medium;
}
.property-card_title {
  font-weight: bold;
}
.save-button {
  width: 85px;
  align-self: left;
  
  margin-right: 10em ;
  
  font-weight: bolder;
  text-align: center;
  background-color: rgb(20, 19, 19);  
  border-radius: 5px;
  color: white;
  padding: .1em;
  text-decoration: none;
}
.save-button:focus,
.save-button:hover {
  background-color: rgb(136, 2, 2);
  color: White;
}

