.property-card {
  padding: 10px;
  margin: 10px; 
  display: flex;
  flex-direction: column;
  font-family: "Open Sans"; 
  background-color: #ffffff;
  
}
.property-card_price::before {
  content: "\00a3";
  padding: 1px;
}
.property-card_email {
  color: aliceblue;
  background-color: rgb(151, 3, 3);
  width: 100%;
  font-size: medium;
}