* {
  box-sizing: border-box;
}
.card-column {
  float: left;
  width: 20%;
  padding: 1px;
  margin-bottom: 10px;
  border: 2px solid rgb(77, 70, 68);
  background-color: rgba(117, 75, 77, 0.384);
}
.card-row {
  margin-left: 100px;
  margin-right: 10px;
}
.property-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 10px;
  text-align: center;
  color: rgb(23, 151, 23);
  background-color: rgba(117, 75, 77, 0.384);
  line-height: 20px;
  height: 200px;
}
@media screen and (max-width: 900px) {
  .card-column {
    width: 80%;
    display: block;
    margin-bottom: 20px;
  }
}
.favourite-card {
  background-color: rgb(88, 129, 87);
  float: left;
  border: 1px solid #493d3d;
  color: rgb(17, 136, 17);
  height: 100px;
  margin-left: 100px;
  color: rgb(179, 4, 4);
  align-content: center;
}
.property-card_price::before {
  content: "\00a3";
  padding: 1px;
}
.property-card_email {
  color: white;
  font-size: medium;
  background-color: rgba(88, 3, 7, 0.493);
}
.property-card_title,
.favourite-card_title {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
}

.save-button {
  width: 85px;
  font-weight: bolder;
  text-align: center;
  background-color: rgb(56, 4, 4);
  border-radius: 5px;
  color: white;
  padding: 0.5em;
}
.delete-button {
  width: 85px;
  align-self: left;
  margin-right: 10em;
  margin-top: 1em;
  font-weight: bolder;
  text-align: center;
  background-color: rgb(56, 4, 4);
  border-radius: 5px;
  color: white;
  padding: 0.5em;
  text-decoration: none;
}
.save-button,
.delete-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.save-button:focus,
.save-button:hover {
  background-color: rgb(136, 2, 2);
  color: White;
}
.delete-button:focus,
.delete-button:hover {
  background-color: rgb(136, 2, 2);
  color: White;
}
