p{
  font-weight: bolder;
  display: block;
  text-align: left;
  margin-top: 0em ;
  margin-bottom: 0em ;
  /*line-height: 1.5;*/
  text-indent: 10px ;
  color: red;
}
.sidebarToggle {
  /*display: block;*/
   /*height: 100%;
   width: 160px;*/
   position: relative;
   display: flex;
   flex-direction: column;
   margin-left: 0px;
   padding: 10px;
 
   top: 0px;
   left: 0px;
   z-index: 1;
   -webkit-user-select: none;
   -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
 }
 
 .sidebarToggle a {
  display: block;
  text-decoration: none;
  color: rgb(233, 214, 214);
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
  padding: 6px 8px 6px 16px;
  background: rgb(153, 16, 16);
  width: fit-content;
  height: fit-content;
}

.sidebarToggle a:hover {
  color: #0b66a7;
}


/* The hamburger button hidden inside an input element */
.sidebarToggle input {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -7px;
  left: -5px;
  padding: 0;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

.property-search-form{
  width: 25%;
  height: 50px;
}
.property-search-button{
  width: 25%;
  height: 32px;
  
  /*top: 100%;*/
  transform: translate(5%, 5%);
}

.sidebarToggle label {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
}
.sidebarToggle label span {
  display: none;
}

/*
 * Hamburger
 */
.sidebarToggle label div {
  display: block;
  width: 30px;
  height: 2px;
  margin-bottom: 6px;
  position: relative;
  background: #90da06;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
      -ms-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sidebarToggle label div:first-child {
  -webkit-transform-origin: 0% 100%;
      -ms-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.sidebarToggle label div:nth-child(2) {
    -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

/*
 * Change the color of the hamburger when toggled
 */
.sidebarToggle input:checked + label div {
  background: #a71313;
}

/*
 * Use absolute positioning to place the menu off-screen
 */
.sidebar {
  position: absolute;
  width: 200px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ffffff00;
  list-style-type: none;
  /* Hide the menu off-screen to the left */
  left: -100%;
  -webkit-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

.sidebar li {
  padding: 10px 2px;
  font-size: 12px;
}

/*
 * Slide the menu in from left when the input is checked
 */
.sidebarToggle input:checked ~ ul {
  left: 0;
}

/*loading*/
.loading {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2s infinite linear;
  animation: sk-rotate 2s infinite linear;
}
.spinner1,
.spinner2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: rgb(184, 36, 36);
  border-radius: 100%;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.spinner2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  75% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  75% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}